.switch_view {
  background: #ffffff;
  text-align: center;
}

button.active {
  border-bottom: solid 1px #1797ff !important;
  border-top: solid 1px #1797ff !important;
  border-left: solid 1px #1797ff !important;
}
button.active2 {
  border-bottom: solid 1px #1797ff !important;
  border-top: solid 1px #1797ff !important;
  border-right: solid 1px #1797ff !important;
}

.My-faves {
  width: 98px;
  height: 31px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  background-color: #fcfcfc;
  border: solid 1px #d6d6d6;
}
.all {
  width: 98px;
  height: 31px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  background-color: #fcfcfc;
  border: solid 1px #d6d6d6;
}
