<form [formGroup]="languageForm" style="display: flex">
  <select
    class="select_class"
    name="language"
    id="language"
    formControlName="language"
    (change)="onChange($event)"
    required
  >
    <option [ngValue]="null" [disabled]="true">Select your news</option>
    <option *ngFor="let l of language" [ngValue]="l.model">
      <img src="{{ l.img }}" class="Image-140" />

      {{ l.model }}
    </option>
  </select>
</form>
<!-- <ng-select2
  [data]="exampleData"
  [placeholder]="'Demo with options'"
  [options]="options"
></ng-select2> -->
