.section_big {
  display: flex;
}
.cnt_paginador {
  margin-left: auto;
  margin-right: 1rem;
}
.pagination {
  text-align: center;
}
.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem 0px 0px 5.6rem;
}
.row_3 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem 5.6rem 0px 0px;
}
.col {
  flex-basis: 100%;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  height: 90px;
  width: 560px;
  margin-bottom: 1rem;
}
.col_2 {
  flex-basis: 100%;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  width: 560px;
  height: 90px;
  margin-bottom: 1rem;
}
.row_2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
.col_inter {
  flex-basis: 84.6%;
  height: 90px;
}
.col_inter2 {
  flex-basis: 14.9%;
  background-color: #60606011;
  height: 90px;
  border: solid 1px #60606011;
  text-align: center;
}
.hours-ago-by-autho {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}
.time {
  margin-top: 1.5rem;
}
.event-driven-state-m {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}
.title {
  margin: 6px 1rem 0px;
}
@media (max-width: 1125px) {
  .col {
    width: 449px;
    margin-right: 2rem;
  }
  .col_2 {
    width: 449px;
  }
  .section_large {
    float: none !important;
    margin-right: 0px !important;
  }
  .section_large2 {
    float: none !important;
  }
  .section_big {
    display: flex;
  }
  .row_3 {
    padding: 1rem 1.6rem 0px 0px;
  }
}
@media (max-width: 1066px) {
  .col {
    width: 400px;
    margin-right: 1.5rem;
  }
  .col_2 {
    width: 400px;
  }
}

@media (max-width: 969px) {
  .col {
    width: 350px;
    margin-right: 1rem;
  }
  .col_2 {
    width: 350px;
  }
  .col_inter {
    flex-basis: 84.3%;
  }
}
@media (max-width: 850px) {
  .row_3 {
    padding: 1rem 0.6rem 0px 0px;
  }
  .col {
    width: 335px;
    margin-right: 0.5rem;
  }
  .col_2 {
    width: 335px;
  }
}
@media (max-width: 800px) {
  .row_3 {
    padding: 1rem 0px 0px 0px;
  }
  .col {
    width: 320px;
    margin-right: 0.5rem;
  }
  .col_2 {
    width: 320px;
  }
}
@media (max-width: 760px) {
  .col {
    width: 300px;
    margin-right: 0.5rem;
  }
  .col_2 {
    width: 300px;
  }
}
@media (max-width: 720px) {
  .row_3 {
    padding: 1rem 0.6rem 0px 5.6rem;
  }
  .section_big {
    display: block;
  }
  .col_inter2 {
    flex-basis: 15.3%;
  }
}
@media (max-width: 620px) {
  .col_inter {
    flex-basis: 84%;
  }
}
.heart {
  line-height: 4;
  font-size: 23px;
  color: red;
}
.time_icon {
  margin-left: 1rem;
  font-size: 18px;
  margin-right: 4px;
  vertical-align: text-top;
}

.section_large {
  float: left;
  margin-right: 2.5rem;
}
.section_large2 {
  float: right;
}
